<div class="container mt-4">
  <h2>Lista de Usuarios</h2>

  <!-- Sección del campo de filtro o busqueda -->
  <div class="mb-3 w-25">
    <label for="filter" class="form-label">Filtrar por nombre:</label>
    <input
      type="text"
      class="form-control"
      id="filter"
      [formControl]="filter"
    />
  </div>
  <!-- End Sección del campo de filtro o busqueda -->

  <!-- Sección de la tabla de usuarios -->
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Ciudad</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody *ngIf="!(users$ | async)?.length && !errorMessage">
      <tr>
        <td class="text-center" colspan="4">Cargando usuarios...</td>
      </tr>
    </tbody>

    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address.city }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="seeDetails(user)">
            Ver Detalles
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- End Sección de la tabla de usuarios -->

  <!-- Sección de mensajes de error -->
  <div
    class="alert alert-warning"
    *ngIf="(users$ | async)?.length === 0 && !errorMessage"
  >
    No se encontraron usuarios con el filtro aplicado.
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <!-- End Sección de mensajes de error -->
</div>
